{% extends "_includes/default.njk" %}

{% block title %}Welcome{% endblock %}

{% block content %}
  <div class="flex items-center justify-center h-screen">
    <h1>Kapangan Website</h1>
  </div>
{% endblock %}