{% extends "_includes/default.njk" %}

{% block title %}Welcome{% endblock %}

{% block content %}
  {% include "_includes/nav.njk" %}

  <!-- showcase -->
  <div class="main-home h-screen flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-5xl font-black text-gray-100">Welcome to the <br><span class="underline text-blue-500">Municipality of Kapangan</span></h1>
      <img src="./images/logo.jpg" alt="" class="h-32 w-32 rounded-full mx-auto mt-3">
      <!-- action buttons -->
      <div class="mt-4 flex flex-row justify-center">
        <button class="py-2 px-6 text-lg tracking-wide text-white font-light mx-1 bg-orange-700 hover:bg-orange-800">Discover Places</button>
        <button class="py-2 px-6 text-lg tracking-wide text-white font-light mx-1 bg-gray-700 hover:bg-gray-800">Know About Our Place</button>
      </div>
    </div>
  </div>
{% endblock %}