<nav class="py-6 w-full bg-bland fixed">
  <div class="w-11/12 mx-auto flex items-center justify-between">
    <div>
      <h1 class="text-lg tracking-wide text-white">Municipality of Kapangan</h1>
    </div>
    <ul class="flex text-gray-100">
      <li>
        <a href="#home" class="px-6 font-light tracking-wide py-4 hover:bg-bland">Home</a>
      </li>
      <li>
        <a href="#home" class="px-6 font-light tracking-wide py-4 hover:bg-bland">Places</a>
      </li>
      <li>
        <a href="#home" class="px-6 font-light tracking-wide py-4 hover:bg-bland">The Municipality</a>
      </li>
      <li>
        <a href="#home" class="px-6 font-light tracking-wide py-4 hover:bg-bland">Inquiries</a>
      </li>
      <li>
        <a href="#home" class="ml-4 px-6 tracking-wide py-4 bg-blue-600 hover:bg-blue-700">Message</a>
      </li>
    </ul>
  </div>
</nav>