@tailwind base;
@tailwind components;
@tailwind utilities;

/* additional css stylings */
.welcome {
  background: url(/images/background.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
